In [1]:
# import pandas
import pandas as pd

In [13]:
#import data file for use
# Data formatted as SN, Age, Gender, Item ID, Item Name, Price
json_path = "purchase_data.json"

p_data_df = pd.read_json(json_path)

p_data_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [23]:
# PLAYER COUNT
# get number of players
player_count = len(p_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Number of Players": [player_count]})
player_count_df

   Total Number of Players
0                       74

In [32]:
# Purchasing Analysis

# number of unique items
num_unique_items = len(p_data_df["Item Name"].unique())

# average purchase price
avg_purch_price = round(p_data_df["Price"].mean(), 2)

# total number of purchases
tot_purch = p_data_df["SN"].count()

# total revenue
tot_rev = round(p_data_df["Price"].sum(), 2)

purch_ana_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], "Number of Purchases": [tot_purch],
                             "Average Price": ["$" + str(avg_purch_price)], "Total Revenue": ["$" + str(tot_rev)]})

purch_ana_df

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.92                   78                      63        $228.1

In [41]:
# Gender Demographics
# percentage and count of males
only_male = p_data_df.loc[p_data_df["Gender"] == "Male", :]
count_male = len(only_male["SN"].unique())
pct_male = round(count_male/player_count*100 , 2)

# percentage and count of females
only_female = p_data_df.loc[p_data_df["Gender"] == "Female", :]
count_female = len(only_female["SN"].unique())
pct_female = round(count_female/player_count*100 , 2)

# percentage and count of Other/Non-Disclosed
count_nd = player_count - count_male - count_female
pct_nd = 100 - pct_male - pct_female

In [7]:
# Purchasing Analysis (Gender)
# ----- Broken Down By Gender------
# purchase count
# average purchase price
# total purchase value
# normalized tools

In [8]:
# Top Spenders
# id the top 5 spenders by total purchase value, List: SN, Purchase Count, Item Price, Total Purchase Value

In [9]:
# Most Popular Items
# id 5 most pop items by purchase count, List: Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

In [10]:
# Most Profitable Items
# id the 5 most profitable items by total purchase value, List: Item Id, Item Name, Purchase Count, Item Price, TPV