In [3]:
# import pandas
import pandas as pd

In [4]:
#import data file for use
# Data formatted as SN, Age, Gender, Item ID, Item Name, Price
json_path = "purchase_data.json"

p_data_df = pd.read_json(json_path)

p_data_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [5]:
# PLAYER COUNT
# get number of players
player_count = len(p_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Number of Players": [player_count]})
player_count_df

   Total Number of Players
0                       74

In [6]:
# Purchasing Analysis

# number of unique items
num_unique_items = len(p_data_df["Item Name"].unique())

# average purchase price
avg_purch_price = round(p_data_df["Price"].mean(), 2)

# total number of purchases
tot_purch = p_data_df["SN"].count()

# total revenue
tot_rev = round(p_data_df["Price"].sum(), 2)

purch_ana_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], "Number of Purchases": [tot_purch],
                             "Average Price": ["$" + str(avg_purch_price)], "Total Revenue": ["$" + str(tot_rev)]})

purch_ana_df = purch_ana_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]
purch_ana_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                      63         $2.92                   78        $228.1

In [7]:
# Gender Demographics
# percentage and count of males
only_male = p_data_df.loc[p_data_df["Gender"] == "Male", :]
count_male = len(only_male["SN"].unique())
pct_male = round(count_male/player_count*100 , 2)

# percentage and count of females
only_female = p_data_df.loc[p_data_df["Gender"] == "Female", :]
count_female = len(only_female["SN"].unique())
pct_female = round(count_female/player_count*100 , 2)

# percentage and count of Other/Non-Disclosed
only_other_nd = p_data_df.loc[p_data_df["Gender"] == "Other / Non-Disclosed", :]
count_nd = len(only_other_nd["SN"].unique())
pct_nd = round(count_nd/player_count*100 , 2)

# create the data frame for these items
gender_dem_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"], 
                              "Percentage of Players": [pct_male, pct_female, pct_nd], 
                             "Total Count": [count_male, count_female, count_nd]})

# reindex the data frame to get a usable format
gender_dem_reindex = gender_dem_df.set_index("Gender")
gender_dem_reindex

                     Percentage of Players  Total Count
Gender
Male                                 81.08           60
Female                               17.57           13
Other/Non-Disclosed                   1.35            1

In [42]:
# Purchasing Analysis (Gender)
# ----- Broken Down By Gender------
# purchase count
male_purch_cnt = only_male["SN"].count()
female_purch_cnt = only_female["SN"].count()
nd_purch_cnt = only_other_nd["SN"].count()

# average purchase price
male_avg_purch = round(only_male["Price"].mean(), 2)
female_avg_purch = round(only_female["Price"].mean(), 2)
nd_avg_purch = round(only_other_nd["Price"].mean(), 2)

# total purchase value
male_val_tot = only_male["Price"].sum()
female_val_tot = only_female["Price"].sum()
nd_val_tot = only_other_nd["Price"].sum()

# normalized totals (val tot / player count)
male_norm_tot = round(male_val_tot/count_male, 2)
female_norm_tot = round(female_val_tot/count_female, 2)
nd_norm_tot = round(nd_val_tot/count_nd, 2)

# set up the dataframe
gen_purch_ana_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],
                                "Purchase Count": [male_purch_cnt, female_purch_cnt, nd_purch_cnt],
                                "Average Purchase Price": ["$" + str(male_avg_purch), "$" + str(female_avg_purch), "$" + str(nd_avg_purch)],
                                "Total Purchase Value": ["$" + str(male_val_tot), "$" + str(female_val_tot), "$" + str(nd_val_tot)],
                                "Normalized Totals" : ["$" + str(male_norm_tot), "$" + str(female_norm_tot), "$" + str(nd_norm_tot)]})

# reindex and print
gen_purch_ana_reindex = gen_purch_ana_df.set_index("Gender")
gen_purch_ana_reindex = gen_purch_ana_reindex[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
gen_purch_ana_reindex

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Male,64,$2.88,$184.6,$3.08
Female,13,$3.18,$41.38,$3.18
Other/Non-Disclosed,1,$2.12,$2.12,$2.12

In [52]:
# AGE DEMOGRAPHICS
# Break down into bins, list purchase count, average purchase price, total purchase value, normalized totals

# create the bins and group names
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# add the bin groups to the main data frame
p_data_df["Age Group"] = pd.cut(p_data_df["Age"], bins, labels=group_names)

# group by the age range
group_age = p_data_df.groupby(['Age Group'])

# get the column values desired for these groups and format them
age_group_cnt = p_data_df["Age Group"].value_counts()
age_group_avg = round(group_age["Price"].mean(), 2).map("${:.2f}".format)
age_group_tot = group_age["Price"].sum()
age_group_norm = round(age_group_tot/age_group_cnt, 2)
age_group_tot = age_group_tot.map("${:.2f}".format)
age_group_norm = age_group_norm.map("${:.2f}".format)

# create the data frame we need
age_demo_df = pd.DataFrame({"Purchase Count": age_group_cnt, "Average Purchase Price": age_group_avg,
                           "Total Purchase Value": age_group_tot, "Normalized Totals": age_group_norm})

# reorder the columns like we want
age_demo_df = age_demo_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
age_demo_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
10-14,3,$2.99,$8.96,$2.99
15-19,11,$2.76,$30.41,$2.76
20-24,36,$3.02,$108.89,$3.02
25-29,9,$2.90,$26.11,$2.90
30-34,7,$1.98,$13.89,$1.98
35-39,6,$3.56,$21.37,$3.56
40+,1,$4.65,$4.65,$4.65
<10,5,$2.76,$13.82,$2.76

In [56]:
# Top Spenders
# id the top 5 spenders by total purchase value, List: SN, Purchase Count, Item Price, Total Purchase Value

# group by the SN
sn_group = p_data_df.groupby(['SN'])

# get the data we need for our columns, and format them
sn_purch_count = p_data_df["SN"].value_counts()
sn_avg = round(sn_group["Price"].mean(), 2).map("${:.2f}".format)
sn_tot = sn_group["Price"].sum().map("${:.2f}".format)

# create the data frame
sn_df = pd.DataFrame({"Purchase Count": sn_purch_count, "Average Item Price": sn_avg, "Total Purchase Value": sn_tot})

# sort by total purchase value and print the top 5
top_spenders = sn_df.sort_values(['Total Purchase Value'], ascending = False)
top_spenders.head()

           Average Item Price  Purchase Count Total Purchase Value
Sundaky74               $3.70               2                $7.41
Aidaira26               $2.56               2                $5.13
Eusty71                 $4.81               1                $4.81
Chanirra64              $4.78               1                $4.78
Alarap40                $4.71               1                $4.71

In [48]:
# Most Popular Items
# id 5 most pop items by purchase count, List: Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

# group by item name
item_group = p_data_df.groupby(['Item Name'])

# get the columns we want in the proper format
item_purch_count = p_data_df["Item Name"].value_counts()
item_id = item_group["Item ID"].mean()
item_price = round(item_group["Price"].mean(), 2).map("${:.2f}".format)
item_tot = item_group["Price"].sum().map("${:.2f}".format)

# create the data frame
item_df = pd.DataFrame({"Item ID": item_id, "Purchase Count": item_purch_count, "Item Price": item_price, "Total Purchase Value": item_tot})

#sort by purchase count
pop_items = item_df.sort_values(['Purchase Count'], ascending = False)
pop_items.head()

,Item ID,Item Price,Purchase Count,Total Purchase Value
Mourning Blade,94,$3.64,3,$10.92
"Deadline, Voice Of Subtlety",98,$1.29,2,$2.58
Stormcaller,180,$2.77,2,$5.54
Relentless Iron Skewer,176,$2.12,2,$4.24
Apocalyptic Battlescythe,93,$4.49,2,$8.98

In [49]:
# Most Profitable Items
# id the 5 most profitable items by total purchase value, List: Item Id, Item Name, Purchase Count, Item Price, TPV


# sort by total purchase value
prof_items = item_df.sort_values(['Total Purchase Value'], ascending = False)
prof_items.head()

,Item ID,Item Price,Purchase Count,Total Purchase Value
"Heartstriker, Legacy of the Light",117,$4.71,2,$9.42
Apocalyptic Battlescythe,93,$4.49,2,$8.98
Betrayer,90,$4.12,2,$8.24
Feral Katana,154,$4.11,2,$8.22
Stormcaller,180,$2.77,2,$5.54