In [2]:
# import pandas
import pandas as pd

In [15]:
#import data file for use
# Data formatted as SN, Age, Gender, Item ID, Item Name, Price
json_path = "purchase_data.json"

p_data_df = pd.read_json(json_path)

p_data_df.head()

   Age Gender  Item ID                 Item Name  Price          SN
0   20   Male       93  Apocalyptic Battlescythe   4.49     Iloni35
1   21   Male       12                     Dawne   3.36   Aidaira26
2   17   Male        5                Putrid Fan   2.63      Irim47
3   17   Male      123         Twilight's Carver   2.55     Irith83
4   22   Male      154              Feral Katana   4.11  Philodil43

In [4]:
# PLAYER COUNT
# get number of players
player_count = len(p_data_df["SN"].unique())
player_count_df = pd.DataFrame({"Total Number of Players": [player_count]})
player_count_df

   Total Number of Players
0                       74

In [5]:
# Purchasing Analysis

# number of unique items
num_unique_items = len(p_data_df["Item Name"].unique())

# average purchase price
avg_purch_price = round(p_data_df["Price"].mean(), 2)

# total number of purchases
tot_purch = p_data_df["SN"].count()

# total revenue
tot_rev = round(p_data_df["Price"].sum(), 2)

purch_ana_df = pd.DataFrame({"Number of Unique Items": [num_unique_items], "Number of Purchases": [tot_purch],
                             "Average Price": ["$" + str(avg_purch_price)], "Total Revenue": ["$" + str(tot_rev)]})

purch_ana_df

  Average Price  Number of Purchases  Number of Unique Items Total Revenue
0         $2.92                   78                      63        $228.1

In [17]:
# Gender Demographics
# percentage and count of males
only_male = p_data_df.loc[p_data_df["Gender"] == "Male", :]
count_male = len(only_male["SN"].unique())
pct_male = round(count_male/player_count*100 , 2)

# percentage and count of females
only_female = p_data_df.loc[p_data_df["Gender"] == "Female", :]
count_female = len(only_female["SN"].unique())
pct_female = round(count_female/player_count*100 , 2)

# percentage and count of Other/Non-Disclosed
only_other_nd = p_data_df.loc[p_data_df["Gender"] == "Other / Non-Disclosed", :]
count_nd = len(only_other_nd["SN"].unique())
pct_nd = round(count_nd/player_count*100 , 2)

# create the data frame for these items
gender_dem_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"], 
                              "Percentage of Players": [pct_male, pct_female, pct_nd], 
                             "Total Count": [count_male, count_female, count_nd]})

# reindex the data frame to get a usable format
gender_dem_reindex = gender_dem_df.set_index("Gender")
gender_dem_reindex

                     Percentage of Players  Total Count
Gender
Male                                 81.08           60
Female                               17.57           13
Other/Non-Disclosed                   1.35            1

In [21]:
# Purchasing Analysis (Gender)
# ----- Broken Down By Gender------
# purchase count
male_purch_cnt = only_male["SN"].count()
female_purch_cnt = only_female["SN"].count()
nd_purch_cnt = only_other_nd["SN"].count()

# average purchase price
male_avg_purch = round(only_male["Price"].mean(), 2)
female_avg_purch = round(only_female["Price"].mean(), 2)
nd_avg_purch = round(only_other_nd["Price"].mean(), 2)

# total purchase value
male_val_tot = only_male["Price"].sum()
female_val_tot = only_female["Price"].sum()
nd_val_tot = only_other_nd["Price"].sum()

# normalized totals (val tot / player count)
male_norm_tot = round(male_val_tot/count_male, 2)
female_norm_tot = round(female_val_tot/count_female, 2)
nd_norm_tot = round(nd_val_tot/count_nd, 2)

# set up the dataframe
gen_purch_ana_df = pd.DataFrame({"Gender": ["Male", "Female", "Other/Non-Disclosed"],
                                "Purchase Count": [male_purch_cnt, female_purch_cnt, nd_purch_cnt],
                                "Average Purchase Price": ["$" + str(male_avg_purch), "$" + str(female_avg_purch), "$" + str(nd_avg_purch)],
                                "Total Purchase Value": ["$" + str(male_val_tot), "$" + str(female_val_tot), "$" + str(nd_val_tot)],
                                "Normalized Totals" : ["$" + str(male_norm_tot), "$" + str(female_norm_tot), "$" + str(nd_norm_tot)]})

# reindex and print
gen_purch_ana_reindex = gen_purch_ana_df.set_index("Gender")
gen_purch_ana_reindex

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Male,$2.88,$3.08,64,$184.6
Female,$3.18,$3.18,13,$41.38
Other/Non-Disclosed,$2.12,$2.12,1,$2.12

In [24]:
# AGE DEMOGRAPHICS
# Break down into bins, list purchase count, average purchase price, total purchase value, normalized totals

In [9]:
# Top Spenders
# id the top 5 spenders by total purchase value, List: SN, Purchase Count, Item Price, Total Purchase Value

In [10]:
# Most Popular Items
# id 5 most pop items by purchase count, List: Item ID, Item Name, Purchase Count, Item Price, Total Purchase Value

In [ ]:
# Most Profitable Items
# id the 5 most profitable items by total purchase value, List: Item Id, Item Name, Purchase Count, Item Price, TPV